@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body {
    margin-top: 0;
    background: #ecf0f3;
}



/*login nav*/
.navbar > .login-logo {
    display: flex;
    flex-wrap: inherit;
    justify-content: flex-start;
}
/*Login nav*/



/*title*/

/*title*/
/********************************Navbar Operations Start **************************************************************/
.navbar {
    background-color: darkblue;
    margin-bottom: 0px;
}

.navbar-brand {
    margin-top: 0;
    padding-top: 8px;
}

.navbar-nav {
    font-size: 1.68rem;
    font-family: Arial;
}

.navbar-nav-right {
    float: right;
}

.navbar-nav {
    float: right;

}


.navbar-nav a{
   text-decoration:none;
}




/********************************Navbar Operations End**************************************************************/



/*Login Form start*/

.wrapper {
    max-width: 400px;
    min-height: 300px;
    margin: 80px auto;
    padding: 40px 25px 30px 25px;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 13px 13px 20px #cbced1;
}

.wrapper .form-field {
        padding-left: 0;
        margin-bottom: 12px;
        border-radius: 20px;
}

.wrapper .form-field .fas {
            color: #555;
}

.login-header {
    border: 2px solid green;
}

.wrapper .btn {
    box-shadow: none;
    background-color: #345bbd;
    color: #fff;
    box-shadow: 3px 3px 3px #b1b1b1,-3px -3px 3px #fff;
    letter-spacing: 1.3px;
    margin:auto;

}

.wrapper .btn:hover {
        background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

.err-pass {
    margin: auto 0px auto 8%;
}

.form-icon {
    padding-right: 5px;
}

.Form-Header {
    margin-top: 5px;
    text-align: center;
}

#login-text {
    font-size: 55px;
}
/*Login Form End*/



/*Get All Employees Details*/
#GetAllEmpDetails {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #fff;
}

#GetAllEmpDetails thead th {
        background-color: lightblue;
        font-size: medium;
        text-align: start;
}

#GetAllEmpDetails th, #GetAllEmpDetails td {
        padding: 3px;
}

#GetAllEmpDetails td {
        text-align: start;
        font-size: 1.5rem;
        padding-bottom: 15px;
}


/*Emp Table*/



/*Get All Employees Details*/




/*Employee form*/
#emp-form-box {
    border: 2px solid black;
}

#Emp-form-back-list {
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 7px;
    text-align: center;
    font-size: 1.6rem;
}

#Emp-form-back-list a {
        color: white;
}

#emp-create-btn {
    padding: 6px;
}

.Role-Down {
    padding: 2% 0;
    margin-right: 0;
    width: 100%;
}

.addEmp,
.TeamEmpData,
.LeaveSummaryHeading,
.LeaveRequestHeading,
.DepartHeading {
    text-align: center;
    margin-top: 1%;
    font-size: 2.7rem;
    font-weight: bold
}

#addemphr, #leaverequesthr {
    border: 2px solid green;
    width: 80%;
    margin-left: 10%;
}
/*Employee form*/


/*Emp Table*/
#main {
    width: 85%;
    padding: 10px;
    margin: auto;
    /*    border:2px solid black;
*/
}

table.EmpTableDet {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #fff;
}

table.EmpTableDet thead th {
        padding: 12px;
        background-color: lightblue;
        font-size: large;
        text-align: center;
}

table.EmpTableDet th, table.EmpTableDet td {
        padding: 3px;
}

table.EmpTableDet td {
        text-align: center;
        font-size: 1.85rem;
        padding-bottom: 15px;
}

#LeaveBtn{
    margin-left:35%;
}
/*Emp Table*/
/*Team lead data*/
#teamdepemphr {
    border: 2px solid green;
    width: 80%;
    margin-left: 10%;
}
/*Team lead data*/

/*Leave pages*/

#leavetable {
    padding: 10px;
    margin: auto;
}
@media screen and (min-width:900px) {
    #leavetable {
        width: 35%;
    }
}


@media screen and (max-width: 300px) {
    #leavetable {
        width: 100%;
    }
}


.leaveTab {
    /* width: 70%;
    text-align: center;
    margin: auto;*/
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #fff;
    box-shadow: 3px 3px 3px #b1b1b1;
}

.leaveTableRow {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.leaveTableHeading {
    margin-right: auto;
}

table.leaveTab th {
    padding: 12px;
    font-size: medium;
    border-right: 1px solid gray;
}

table.leaveTab td {
    padding: 12px;
    font-size: medium;
}

#leaveRequestDiv {
    width: 50%;
    margin: 50px auto auto auto;
    border: 2px solid gray;
}


#Add-Desi {
    width: 50%;
    margin: 50px auto auto auto;
    border: 1px solid gray;
}
/*Leave pages*/


/*Department*/
#Depat-table-Div {
    width: 75%;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
}
#DepatDiv {
    width: 60%;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
}

.DepartTab {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.DepartTab thead th {
        padding: 8px;
        background-color: lightblue;
        font-size: large;
        text-align: center;
}


table.DepartTab td {
    text-align: center;
    padding: 12px;
    font-size: large;
}

.Dep-team-lead-btn {
    text-decoration: underline;
}

.Dep-team-lead-btn:hover  ,.desi--btn ,.getallemp-btn:hover{
    color:blue;
    background-color:lightgray;
    cursor:pointer;
}


/*Department*/




/*Team Lead*/
#TeamDiv {
    width: 100%;
}

.TeamLeaveTab {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #fff;
}


/*Team lead*/


/*Add Login*/
.login-form {
    border-radius: 0px;
}

#add-emp-login-div {
    border: 1px solid black;
    width: 40%;
    margin-top: 2px;
    font-size: 15px;

}

#addemplogin-btn {
    padding: 6px 10px;
    margin: 2px 45% 5px 45%;
    text-align: center;
    font-size:large;
}

#addloginpr {
    border: 2px solid green;
    width: 60%;
    margin-left: 20%;
}



/*Add Login*/



/*Deprtment-button*/
.dept-btn {
    display: flex;
    justify-content: space-evenly;
    font-size:1.95rem;
    margin-bottom:2%;
    
}

.GetAllEmpDet-btn {
    display: flex;
    justify-content: space-between;
    font-size: 1.95rem;
    margin-bottom: 2%;
    flex-wrap: nowrap;
    align-items: baseline;
}

.GetAllDes-btn-sec {
    display: flex;
    justify-content: space-around;
    font-size: 1.95rem;
    margin-bottom: 2%;
}
.dept-btn-sec, .GetAllEmpDet-btn-sec {

    background-color: #dee2e6;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.dept-btn-sec span {
    
    padding: 5px;
   
}

.dept-btn-sec a, .GetAllEmpDet-btn-sec a{
    text-decoration: none;
}

.dept-btn-sec a:hover  , .GetAllEmpDet-btn-sec a:hover  { 
   color:red; 
   text-decoration:none;
   border:none;

}

/*Department-button*/




/*Project Search bar*/
projectsearch {
    margin: 0 1px 7px 20%;
}

/*Project Search bar*/

/*Account Details*/
#Acc-details {
    width: 50%;
    margin: 50px auto auto auto;
    border: 2px solid black;
}
/*Account Details*/



/*Getall designation back-btn*/
#Getalldesi-form-back-list {
    background-color: lavender;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    margin-left:30%;
}

#Getalldesi-form-back-list a {
    color: red;
}


/*Add Project Btn*/
.add-project-btn-div {
    display: flex;
}

#Addproject-form-back-list {
    margin-top: 2px;
    padding: 5px;
    text-align: center;
    font-size: 1.6rem;
}

#Addproject-form-back-list a {
        padding: 9px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
        text-decoration: none;
}

/*Get all emp btn*/

.getallemp-btn:hover {
    color: blue;
    text-decoration: none;
    border: none;
    cursor:pointer;
}


/*login page error*/
.usernameerror,.passworderror{
    color:red;
}




/*Employee navbar Drop-down*/
.emp-dropbtn {
    font-size: 1.68rem;
    font-family: Arial;
    border: none;
}

.emp-dropdown {
    position: relative;
    display: inline-block;
}

.emp-dropdown-content {
    display: none;
    position: absolute;
    background-color: darkblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .emp-dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }



.emp-dropdown:hover .emp-dropdown-content {
    display: block;
}

.emp-dropdown:hover .emp-dropbtn {
    cursor: pointer;
}

.emp-dropdown-content a:hover {
    color: greenyellow;
}
/*Employee navbar Drop-down*/



/*Get allEmployeeDetails Scroll Bar */
.scroll-demo {
    height: 58vh;
    overflow: auto;
    padding: 5px;
    border: 1px solid #ebebeb;
}

/*Get allEmployeeDetails Scroll Bar */



/*Add Designation Btn*/
#add-Desi-back-list {
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 7px;
    text-align: center;
    font-size: 1.4rem;
    border-radius:3px ;

}

#add-Desi-back-list a {
    color: white;
}

/*Add Designation Btn*/


/*Leave Request btn */
#Leave-form-back-list {
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px;
    text-align: center;
    font-size: 1.55rem;
    border-radius:4px  ;
}


#Leave-form-back-list a {
    color: white;
}
