@model EmployeeManagementSystemCore.Models.Role
@{
    ViewBag.Title = "Add Role";


}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if ((Convert.ToInt16((Session["role"])) == 1 && ViewBag.RoleView == null))
{
    <div>
        <input type="Button" value="+ Role" onclick="window.location.href='@Url.Action("AddRole","Admin")'" style=" font-size:" 1.2em" />
    </div>

    <h2>Leave Request</h2>
    <div id="main">
        <table class="EmpTableDet">
            <thead>
                <tr>

                    <th>
                        Role
                    </th>
                    <th>
                        Option
                    </th>



                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.RolesList)
                    {

                        <tr>
                            <td> @item.RoleName</td>


                            <td>
                                <input type="Button" value="Delete" onclick="window.location.href='@Url.Action("DeleteRole","Admin",item)'" style=" font-size:" 1.2em" />
                            </td>





                        </tr>





                    }
                }
            </tbody>
        </table>
    </div>

}
else if (ViewBag.RoleView != null)
{
    <div>
        <p>
            @ViewBag.RoleView
        </p>
    </div>
}
else
{
    <td> You are not Authorized </td>
}
